html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  background-color: #ffd74a;
}

header img {
  height: 100px;
}

.content {
  background: url(../img/TOTO_web.jpg) no-repeat center center;
  height: 100vh;
  width: 100vw;
}
