html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px*/
  background: url(../img/TOTO_web.jpg) no-repeat center center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  margin: auto;
  position: fixed;
  width: 100%;
  background-color: rgba(245, 208, 208, 0.6);
}

.logo{
  height: 100px;
}

.album {
  padding-top: 7%;
  margin: auto;
}

.image {
  width: 400px;
  height: 300px;
  padding: 10px;
  box-shadow: 5px 10px 10px rgb(53, 41, 41);
}

nav{
  text-align: center;
  margin: auto;
}

nav ul{
   list-style: none;
   display: inline-block;
   padding:18px;
}

nav ul li{
    float: left;
    margin-top: 20px;
}

nav ul li a {
    color: rgb(175, 46, 46);
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    margin: 50px;

}

nav ul li a:hover{
  background-color: #b9c6da;
}
